<a name="events"></a>
<section id="home-page-events">
	<div class="container">
		<div class="row">
			<div class="col-sm-7">
				<h1>Upcoming Events</h1>
				<div class="row">
					<table class="table">
						<tbody>
							<% @events.first(5).each do |event| %>
							<tr>
								<td>
									<span class="date-icon">
										<p><script>document.write(moment('<%= event["start_time"] %>').format('DD'));</script><span><script>document.write(moment('<%= event["start_time"] %>').format('MMM'));</script></span></p>
									</span>
								</td>
								<td>
									<%= link_to event["name"], "https://www.facebook.com/events/" + event["id"] %><br />
									<strong><script>document.write(moment('<%= event["start_time"] %>').format('h:mm a'));</script></strong> at <%= event["location"] %>
								</td>
							</tr>
							<% end %>
						</tbody>
					</table>
					<a href="https://www.facebook.com/southcoastroadrunners/events" class="btn btn-default btn-lg" role="button" target="_blank">View More <i class="fa fa-external-link"></i></a>
				</div>
			</div>
			<div class="col-sm-4 col-sm-offset-1 text-center">
				<div class="i-circle">
					<i class="fa fa-map-marker"></i>
				</div>
				<h2>Where We Run</h2>
				<!-- SUMMER 
					<address>
						<strong>Mondays @ 6:15pm</strong>
						<br />
						<a href="https://www.google.com/maps/place/Cedar+Grove+Park/@33.75091,-117.769222,17z">Cedar Grove Park <i class="fa fa-external-link"></i></a>
						<br />
						11385 Pioneer Rd, Tustin
					</address> 
				-->
				<!-- WINTER -->
					<address>
					<strong>Mondays @ 6:15pm</strong>
					<br />
					<a href="https://www.google.com/maps/place/13702+Jamboree+Rd/@33.7215672,-117.7898736,17z" target="_blank">Sports Authority <i class="fa fa-external-link"></i></a>
					<br />
					13702 Jamboree Rd, Irvine
				</address> 
				<address>
					<strong>Thursdays @ 6:15pm</strong>
					<br />
					<a href="https://www.google.com/maps/place/14301+Yale+Ave/@33.7008163,-117.7771108,17z" target="_blank">Heritage Park <i class="fa fa-external-link"></i></a>
					<br />
					14301 Yale Ave, Irvine
				</address>
				<address>
					<strong>Saturday Mornings</strong>
					<br />
					Location varies, check <a href="https://www.facebook.com/southcoastroadrunners/events" target="_blank">events <i class="fa fa-external-link"></i></a>
				</address>
				<button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#newbieModal">First Time Visitor</button>
			</div>
		</div>
	</div>
</section>

